.container {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(88, 88, 88, 0.8);
  padding-top: 50px;
  z-index: 1;
}
.textInput {
  outline: none;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
  margin: 5px;
  width: 200px;
}

.textInput:focus {
  border: 1px solid rgb(7, 155, 2);
}

.form {
  display: flex;
  border: 1px solid rgb(166, 243, 163);
  flex-direction: column;
  align-items: center;
  width: 50%;
  background-color: white;
  padding: 20px;
  max-width: 300px;
  opacity: 100%;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.button {
  background-color: rgb(1, 184, 92);
  margin: 5px;
  padding: 10px;
  cursor: pointer;
  border: 0px;
  outline: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.button:hover {
  background-color: rgb(2, 202, 102);
}

.button:focus {
  background-color: rgb(2, 202, 175);
}

.buttonContainer {
  padding: 10px;
}

.errorMessage {
  color: red;
  height: 10px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(195, 245, 214, 0.8);
  padding: 20px;
}


