.button {
  height: 100%;
  background-color: rgb(1, 184, 92);
  padding: 10px;
  cursor: pointer;
  border: 0px;
  outline: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.button:hover {
  background-color: rgb(2, 202, 102);
}

.button:focus {
  background-color: rgb(2, 202, 175);
}
